/*
Implements:
==>Navbar
*/
#navbar-main {
    background-color: #f1f1f1;
    width: 101%;
    height: 80px;
    margin: -10px;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

#navlist {
    width: 700px;
    height: 50px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navsort {
}

.navsort li {
    float: left;
    margin: 20px;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    display: inline-block;
    position: relative;
}

.navsort a,.navsort a:visited {
    color: black;
}

.navsort li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navsort li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
